*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: scroll;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  width: 1140px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  column-gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: 50% 50%;
}

.content__video-card-description-container {
  width: 200px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin-bottom: 5px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  color: #fff;
}

.search-form {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.search-form__fieldset {
  border: none;
}

.search-form__textfield {
  padding: 0;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 225px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  appearance: none;
  color: #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:hover {
  cursor: text;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
  border: none;
}
  
.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
}

.search-form__pseudo-checkbox {
  display: flex;
  cursor: pointer;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid white;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.content__list {
  height: 298px;
  overflow: hidden scroll;
  scrollbar-width: thin;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-item:not(:last-child){
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2px 0px;
} 

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: fill;
  object-position: 50% 50%;
}

.button {
  background-color: transparent;
  font-family: inherit;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  border: 1px solid white;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button:focus {
  outline: none
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  padding: 6px 73.5px;
  align-self: flex-end;
}

.more-button {
  padding-top: 6px;
  padding-bottom: 6px;
  width: 99%;
  margin: 3px;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content__card-link {
  text-decoration: none;
  display: block;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px white ;
  text-underline-offset: 2px;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none
}

.content__card-link:focus-visible {
  outline: solid 1px white; 
}

.content__card-link_current {
  background-color: #545050;
}